* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  margin: 2%;
}

.btn-home {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: grey;
  padding: 10px;
  color: whitesmoke;
}

.btn-author, .btn-book, .btn-primary, .search-button, .add, .btn-night {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: grey;
  padding: 10px;
  color: whitesmoke;
}

.btn-author {
  display: inline-block;
}

.search {
  background-color: lightgrey;
  padding: 10px;
  width: 280px;
  text-align: center;
}

a {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 3px;
  color: grey;
}

@media screen and (max-width: 768px) {
  nav.navbar {
    display: none;
  }
  .home-container, .main-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .nav-toggler {
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: hotpink;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  }
  .l1 {
    transform: translateY(-10px);
  }
  .l3 {
    transform: translateY(10px);
  }
  .nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
  }
  .nav-toggler.active .l2 {
    opacity: 0;
  }
  .nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
  }
  nav.menu-mobile {
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: grey;
    border-bottom: 1px solid #cfcfcf;
    transform: translateY(-180%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
  }
  .menu-mobile.active {
    transform: translate(0);
  }
  .menu-mobile a {
    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}
.main-title {
  margin: 0;
  text-align: center;
  background-color: grey;
  text-transform: uppercase;
  color: whitesmoke;
}

.navbar {
  background-color: lightgrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 20px;
}

.menu-desktop {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-desktop > li {
  list-style-type: none;
  margin: 20px;
}

.night-activated {
  background-color: darkslategrey;
}

.night-activated p {
  color: whitesmoke;
}

.night-activated .main-title {
  background-color: lightpink !important;
}

.night-activated button {
  background-color: darkslategrey;
  color: whitesmoke;
  border: 1px solid darkslategrey;
  border-radius: 15px;
  padding: 10px;
}

.title-home {
  padding: 5%;
  background-color: whitesmoke;
  color: grey;
}

.home-container {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.home-container article {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
}
.home-container article p {
  margin: 10px;
}

.main-container {
  margin-top: 5%;
}

form {
  margin: 20px;
  background-color: whitesmoke;
  padding: 30px;
  width: 280px;
  text-align: center;
}

fieldset {
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

legend {
  color: grey;
  font-weight: bold;
}

label {
  color: grey;
  margin-top: 10px;
  display: block;
}

label.inline {
  display: inline;
  margin-right: 50px;
}

input, textarea, select {
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
}

select {
  margin-top: 10px;
}

input[type=submit] {
  width: 100px;
  margin-left: 5px;
  box-shadow: 1px 1px 1px grey;
  cursor: pointer;
  color: grey;
}

/*# sourceMappingURL=style.css.map */
