.main-title {
  margin: 0;
  text-align: center;
  background-color: $primary-color;
  text-transform: uppercase;
  color : whitesmoke;
}

.navbar {
  background-color: lightgrey;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu li {
  list-style-type: none;
  margin: 20px;
}

