.main-title {
  margin: 0;
  text-align: center;
  background-color: $primary-color;
  text-transform: uppercase;
  color : whitesmoke;
}

.navbar {
  background-color: lightgrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 20px;
}

.menu-desktop {
 width: 100vw;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.menu-desktop > li {
  list-style-type: none;
  margin: 20px;
}

.night-activated {
  background-color: darkslategrey;
}
.night-activated p {
  color: whitesmoke;
}

.night-activated .main-title {
  background-color: lightpink !important;
}

.night-activated button {
  background-color: darkslategrey;
  color: whitesmoke;
  border: 1px solid darkslategrey;
  border-radius: 15px;
  padding: 10px;
}